<header class="w-100 py-2 bg-black mb-5"></header>

<section class="container mt-5 pt-5">
  <table
    datatable
    [dtOptions]="dtOptions"
    class="table table-responsive table-striped datatable"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">date</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items; track $index) {
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.Date }}</td>
        <td>
          @if (item.status==="Justifier") { <span>Justified</span> } @else
          {<span class="d-none">{{ item.status }}</span>
          <div class="btn btn-danger">Justifier</div>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
