.stats-items {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  background-color: white;
}
.stats-container {
  background-color: aliceblue;
}
.dashboard-page {
  background-color: aliceblue;
}
.chart {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  position: relative;
}
app-dashboardnavbar {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
