@if
(((authservice.$Manager|async)||(authservice.$Pointeur|async)||(authservice.$Recruteur|async))&&showComponent)
{<app-sidebar (myBoolChange)="onMyBoolChange($event)"></app-sidebar>}
<div
  class="routes"
  [class.content]="
    !receivedBool &&
    ((authservice.$Manager | async) ||
      (authservice.$Pointeur | async) ||
      (authservice.$Recruteur | async)) &&
    showComponent
  "
  [class.content-active]="
    receivedBool &&
    ((authservice.$Manager | async) ||
      (authservice.$Pointeur | async) ||
      (authservice.$Recruteur | async)) &&
    showComponent
  "
>
  <router-outlet></router-outlet>
</div>
