.content {
  margin-left: 200px;
  transition: 0.3s;
  height: 100%;
}
app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
}
.content-active {
  margin-left: 90px;
  height: 100%;
  transition: 0.3s;
}
.routes {
  height: 100%;
}
