<div class="page-container">
  <app-sidenav></app-sidenav>

  <div class="content-page py-5 px-5">
    <div class="container-fluid profile-info row py-4">
      <div
        class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-3 avatar-container"
      >
        <div class="avatar">
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
            class="w-100"
            alt=""
          />
        </div>
        <button
          class="fw-bold px-4 py-1 text-white bg-secondary positiveaction"
        >
          Demande Conge
        </button>
        <div class="file-input-container">
          <input type="file" id="fileInput" class="file-input" />
          <label for="fileInput" class="file-label fw-bold px-4 py-1"
            >Changer L`image</label
          >
        </div>

        <!-- <button class="fw-bold px-4 py-1 text-white deletebutton">
        DeleteAccount
      </button> -->
        <!-- <button class="fw-bold px-4 py-1 text-white deletebutton">
        Signaler une absence
      </button> -->
        <!-- <button class="fw-bold px-4 py-1 text-white positiveaction">
        Signaler des heures supplémentaires
      </button> -->
      </div>
      <div class="col-lg-8 p-5">
        <h3>Employer Name</h3>
        <h5 class="text-secondary">Employer Poste</h5>
        <p class="fw-bold">commencé à travailler le : 12-2-2002</p>
        <p class="fw-bold">Salaire de base : 120dh/heure</p>
      </div>
    </div>
    <div class="row container-fluid charts-container my-3 py-5 px-5">
      <div class="col-lg-6">
        <div id="chartContainer" style="height: 300px; width: 100%"></div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>
</div>
