<div class="container-fluid d-flex justify-content-around charts-container">
  <div class="chart py-3 px-2">
    <canvas
      baseChart
      width="475"
      height="300"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
    >
    </canvas>
  </div>
  <div class="chart py-3 px-2">
    <canvas
      baseChart
      width="475"
      height="300"
      [type]="'line'"
      [data]="AbscencelineChartData"
      [options]="AbscencelineChartOptions"
      [legend]="AbscencelineChartLegend"
    >
    </canvas>
  </div>
</div>
