.chart {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 50%;
  position: relative;
}
.profile-container {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 25px;
}
.profile-page {
  background-color: aliceblue;
  height: max-content;
}
.profile-img {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 10/10;
}
.img {
  width: 150px;
  height: 100%;
  aspect-ratio: 10/10;
}
app-dashboardnavbar {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
