@if (Employer) {
<div class="profile-page h-100">
  <div class="profile-section container-fluid py-3 px-4">
    <div class="profile-container row py-2 pt-4 px-4">
      <div
        class="col-lg-4 d-flex flex-column justify-content-center align-items-center gap-2"
      >
        <div class="profile-img w-50">
          <img [src]="Employer.image" alt="" class="img-fluid" />
        </div>

        @if (authservice.$Pointeur|async) {
        <div class="button w-100 mx-auto px-5">
          <button mat-raised-button color="warn" class="w-100 mx-auto">
            signal abscence
          </button>
        </div>

        <div class="button w-100 mx-auto px-5">
          <button mat-raised-button color="primary" class="w-100 mx-auto">
            signal surtemps
          </button>
        </div>
        } @if (authservice.$Recruteur|async) {
        <div class="button w-100 mx-auto px-5">
          <button mat-raised-button class="w-100 mx-auto" color="warn">
            Delete Account
          </button>
        </div>
        } @if (authservice.token.unique_name===Employer.id) {
        <div class="button w-100 mx-auto px-5">
          <input
            type="file"
            #fileInput
            hidden
            (change)="onFileSelected($event)"
          />
          <button
            mat-raised-button
            color="primary"
            class="w-100 mx-auto"
            (click)="fileInput.click()"
          >
            <mat-icon>image</mat-icon> Change image
          </button>
        </div>
        <div class="button w-100 mx-auto px-5">
          <button mat-raised-button color="accent" class="w-100 mx-auto">
            <mat-icon>calendar_today</mat-icon> Demande Conges
          </button>
        </div>
        }
      </div>
      <div class="col-lg-8 pt-5">
        <h3 class="">{{ Employer.userName }}</h3>
        <p class="text-secondary">mail : {{ Employer.email }}</p>
        <p class="text-secondary">Poste : {{ Employer.poste }}</p>
      </div>
    </div>
  </div>

  <div
    class="container-fluid d-flex charts-container justify-content-center pb-4"
  >
    <div class="chart py-3 px-2 mx-2">
      <canvas
        baseChart
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
      >
      </canvas>
    </div>
    <div class="chart py-3 px-2 mx-2">
      <canvas
        baseChart
        [type]="'line'"
        [data]="AbscencelineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
      >
      </canvas>
    </div>
  </div>
</div>

}
