.offers-page {
  min-height: 100%;
}
.job-content {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
button {
  width: 120px;
  height: 50px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}
.signin {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
p {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  font-family: MuseoSans300Regular, sans-serif;
}
img {
  width: 75%;
}
