<div class="container-fluid nav-container px-5">
  <div
    class="container w-100 d-flex justify-content-between align-items-center px-5"
  >
    <div class="d-flex justify-center align-items-center py-3">
      <span [routerLink]="['/AI']" fragment="section1" class="me-4 fw-bold"
        >About</span
      >
      <span class="me-4 fw-bold">Services</span>
      <span class="me-4 fw-bold">Products</span>
      <span class="me-4 fw-bold">Jobs</span>
    </div>
    <div class="d-flex justify-center align-items-center">
      <span class="me-1 fw-bold">login /</span>
      <span class="me-4 fw-bold">apply</span>
    </div>
  </div>
</div>
