<div class="candidature-page">
  <div class="container-fluid row h-100">
    <div class="col-lg-8 h-100">
      <embed
        class=""
        src="CVfinal.pdf"
        width="100%"
        height="600px


    "
      />
    </div>
    <div class="col-lg-4 mt-5">
      <div class="info-container py-5 mt-5 bg-white">
        <div class="px-4">
          <h3 class="">Candidat Info</h3>
          <p class="text-secondary">
            <b class="text-dark">nom :</b> employername
          </p>
          <p class="text-secondary">
            <b class="text-dark">email :</b> example&#64;example.com
          </p>
          <p class="text-secondary">
            <b class="text-dark">phone :</b> 06 51 75 54 23
          </p>
        </div>
        <div class="w-100 mt-5 px-5">
          <div class="button w-100 my-3">
            <button mat-raised-button color="warn" class="w-100 mx-auto">
              <mat-icon color="warn">cancel</mat-icon> Refuser
            </button>
          </div>
          <div class="button w-100 h-100">
            <button mat-raised-button color="accent" class="w-100 mx-auto">
              <mat-icon color="primary">check_circle</mat-icon> Selectionner
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
