@if (candidature) {

<div class="candidature-page">
  <div class="container-fluid row h-100">
    <div class="col-lg-8 h-100">
      <iframe [src]="candidature.cv" width="100%" height="600px"></iframe>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="info-container py-5 mt-5 bg-white">
        <div class="px-4">
          <h3 class="">Candidat Info</h3>
          <p class="text-secondary">
            <b class="text-dark">nom :</b>{{ candidature.nom }}
          </p>
          <p class="text-secondary">
            <b class="text-dark">email :</b> {{ candidature.mail }}
          </p>
          <p class="text-secondary">
            <b class="text-dark">phone :</b> {{ candidature.numTel }}
          </p>
        </div>

        <div class="w-100 mt-5 px-5">
          @if (candidature.status==="EnAttente") {
          <div class="button w-100 my-3">
            <button
              mat-raised-button
              color="warn"
              (click)="Refuser()"
              class="w-100 mx-auto"
            >
              <mat-icon color="warn">cancel</mat-icon> Refuser
            </button>
          </div>
          <div class="button w-100 h-100">
            <button
              mat-raised-button
              color="accent"
              (click)="selectionner()"
              class="w-100 mx-auto"
            >
              <mat-icon color="primary">check_circle</mat-icon> Selectionner
            </button>
          </div>
          } @else if (candidature.status==="Selectionner") {
          <div class="button w-100 my-3">
            <button
              mat-raised-button
              color="warn"
              (click)="Refuser()"
              class="w-100 mx-auto"
            >
              <mat-icon color="warn">cancel</mat-icon> Refuser
            </button>
          </div>
          <div class="button w-100 h-100">
            <button
              mat-raised-button
              color="accent"
              (click)="integrer()"
              class="w-100 mx-auto"
            >
              <mat-icon color="primary">check_circle</mat-icon> Integrer
            </button>
          </div>

          } @else if (candidature.status==="Integrer") {

          <div class="button w-100 h-100">
            <h4 class="text-center">
              <mat-icon color="primary">check_circle</mat-icon> Integrer
            </h4>
          </div>

          } @else if (candidature.status==="Refuser") {

          <div class="button w-100 h-100">
            <h4 class="text-center">
              <mat-icon color="warn">check_circle</mat-icon> Refuser
            </h4>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

}
