.input-container {
  width: 100%;

  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid;
  border-radius: 50px;
  background-color: aliceblue;
}
.input {
  outline: none;
  border: none;
  width: 100%;
  background-color: aliceblue;
}
.chat-bot {
  position: fixed;
  bottom: 20px;
  left: 0;
  padding: 0 50px 0 50px;
  z-index: 99999;
}
.submit-button {
  outline: none;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border: 1px solid;
}
